body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-group {
  width: 40%;
}

.centered-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.btn-group {
  display: flex;
}

/* Small elements styling. */

.box-small {
  width: 15rem;
  height: 22rem;
  padding: 15px 10px 20px 10px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  box-shadow: 0.5rem 0.5rem 15px 4px darkgrey;
  border: 1px black solid;
  border-radius: 7%;
}

.box-small:hover {
  box-shadow: 0.5rem 0.5rem 15px 4px grey;
}

.title-small {
  font-size: 1.5rem;
  margin: 0.5rem auto;
}

.description-small {
  font-size: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 13rem;
  height: 4rem;
}

.image-small {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 2px black solid;
}

/* Big elements styling. */

.box-big {
  width: 45rem;
  height: 40rem;
  padding: 15px 10px 20px 10px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  box-shadow: 0.5rem 0.5rem 15px 4px darkgrey;
  border: 1px black solid;
  border-radius: 5%;
}

.box-big:hover {
  box-shadow: 0.5rem 0.5rem 15px 4px grey;
}

.title-big {
  font-size: 2rem;
  margin: 0.5rem auto;
}

.description-big {
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem 1.5rem;
}

.aligned-left {
  text-align: left;
}

.image-big {
  display: inline-block;
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  border: 2px black solid;
}
